<br>
<h3>Listar Detalles del Pedido</h3>
<table class="table table.stripped">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Pedido</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <!-- Aqui se recorren los clientes y se enlistan en la tabla-->
        <tr *ngFor="let orderItem of orderitems"> <!-- Correcto, 'orderitems' en minúsculas -->
            <td>{{orderItem.id}}</td>
            <td>{{orderItem.nombrePedido}}</td>
            <td>{{orderItem.nombreProducto}}</td>
            <td>${{orderItem.precio}}</td>
            <td>{{orderItem.quantity}}</td>
            <!--<td>
                <button (click)="showActualizar(cliente.id)" class="btn btn-info">Actualizar</button>
                <button class="btn btn-info" style="margin-left : 10px">Eliminar</button>
                <button class="btn btn-primary" style="margin-left : 10px">Detalles</button>
            </td>-->
        </tr>
    </tbody>
</table>